// white mode
$w-main-color: #4b49ac;
$w-sec-color: #98bdff;
$w-text-color: #33394c;
$w-bg-color: #e1e6f1;

$card-color-1: linear-gradient(to left, #98bdff 0%, #4b49ac 100%);
$card-color-2: linear-gradient(45deg, #f93a5a, #f7778c);
$card-color-3: linear-gradient(to left, #98bdff 0%, #4b49ac 100%);
$card-color-4: linear-gradient(to left, #efa65f, #f76a2d);

// $card-color-1: linear-gradient(to left, #98bdff 0%, #4b49ac 100%);
// $card-color-2: linear-gradient(#ffc500, #c21500);
// $card-color-3: linear-gradient(#f3797e, #797be9);
// $card-color-4: linear-gradient(to left, #0db2de 0%, #005bea 100%);
// $card-color-5: linear-gradient(#ffc500, #c21500);

// $c3ard-color-2: #98bdff;
// $c2ard-color-3: #7da0fa;
// $ca3rd-color-4: #4b49ac;
// $car2d-color-5: #f3797e;
// linear-gradient(red, yellow)
// dark mode f5f7fb
// $d-main-color: #f5f2fb;
// $d-sec-color: #ffffff;
// $d-hover-color: #e1ddd2;
// $d-text-color: #555a54;

//global colors
$error-color: red;
