.search {
	display: flex;
	align-items: center;
	.input-group {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
		width: 100%;
		padding: 1em;
	}
	a.btn.btn-primary.col-4 {
		margin-bottom: 1em;
	}
}
.table-data {
	button {
		margin-left: 5px;
		padding: 5px 10px;
	}
}
